/* styles.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: 800;
}

.content 
{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.left
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.odin-logo-container
{
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
}
.photo-credits
{
    text-align: center;
    color: grey;
    font-size: 0.6rem;
}
.photo-credits a
{
    color: inherit;
}

.right
{
    background-color: rgb(243, 243, 243);
    flex: 2;
    display: flex;
    flex-direction: column;
}
.signup-info
{
    margin-top: 10vh;
    margin-bottom: 12px;
    padding: 8px;
}
.signup-info p
{
    margin: 12px;
    padding: 8px;
}
.signup-form-container
{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.193) 0px 10px 10px -10px;
    padding-left: 16px;
}
.signup-form-container p
{
    font-size: 1.2rem;
    margin: 12px;
}
.signup-form .form-row
{
    display: flex;
}
.signup-form .form-input
{
    display: flex;
    flex-direction: column;
    margin: 12px;
    font-size: 0.6rem;
}
.account-creation
{
    margin-left: 12px;
    margin-top: 6px;
}
.account-creation button
{
    background-color: #596D48;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 12px;
    margin-left: 24px;
    margin-bottom: 24px;
}
.account-creation p
{
    font-size: 0.8rem;
    margin-left: 24px;
}